@charset "utf-8";

/* CSS Document */

body {
    background: #3597E3 no-repeat;
    background-position: center;
    height: 1000px;
}

#top-wrap {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -8px;
    height: 300px;
    background-color: #0F436C;
    text-align: center;
}

#top-inside-wrap {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    height 200px;
    background-color: #0F436C;
}

#column-wrap {
    width: 80%;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #3597E3;
    background-position: middle;
    background-size: cover;
}

.imagelogo {
	margin-top: 45px;
    margin-right: 80%;
		margin-left: 25px;
    height: 200px;
    width: 200px;

}

header h1 {
    position: relative;
		font-family: Sofia ;
		font-size: 4em;
    top: -170px;
		margin-left: 120px;
}

ul {}

li {
    display: inline;
    /*Code used to display all the text in one line*/
}

#menu a {
	  display: block;
		margin-top: -163px;
    height: 40px;
    width: 200px;
    border-radius: 12px;
    background-color: red;
    border: 5px solid #990000;
    box-shadow: 4px 4px 4px #999;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    color: white;
    /*https://www.codecademy.com/en/forum_questions/50c29d469bc1e14c8b001f64*/
}

}
#menu a:hover {}
#menu li {
    width: 242px;
    float: left;
    margin-bottom: inherit;
}
.left-column {
    float: left;
    width: 50%;
    height: 515px;
    background-color: #FFF;
}
.right-column {
    float: right;
    width: 50%;
    height: 515px;
    background-color: #FFF;


}
.profilepic {
    width: 350px;
    height: 350px;
		border-top-left-radius: 235px;

	border-bottom-left-radius: 235px;
	border-top-right-radius: 235px;

	border-bottom-right-radius: 235px;
	margin-top: 50px;
}
footer {
    text-align: center;
		height: 50px;
    background-color: #072236;

		margin-left: -15px;
		margin-right: -8px;
}
