/* Name: Amna Mahmood - Student ID number: 16433342 */

@charset "utf-8";

/* CSS Document */

body { /* All the content under body heading is to style the body */
    background: #3597E3 no-repeat;
    background-position: center;
    height: 1000px;
    background-position: center;
    display: flex;
    flex-direction: column;
}

#top-wrap { /* this top wrap is used to style the are where the logo and header are situated */
    height: 320px;
    width: 100%;
    text-align: center;
    background-color: #0F436C;
    margin: auto;
    margin-top: -4px;
}

#header-wrap { /* created a header wrap under "top-wrap" to make sure the content (logo, and header) doesnt move out when screen is resized*/
    width: 75%;
    height: 280px;
    margin: auto;
}

.column-wrap {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 0 auto;
}

.right-column {
    width: 50%;
    background: #5DADE9;
    text-align: center;
}

.left-column {
    width: 50%;
    background: #5DADE9;
}

h2 {
    font-family: Sofia;
    font-size: 2.2em;
    text-align: left;
    margin-left: 20px;
}


p {
    font-size: 1.2em;
    display: block;
    font-family: Trocchi;
    text-align: justify;
    margin-left: 20px;
}

.imagelogo {
    height: 180px;
    width: 200px;
    margin-top: 18px;
}

header h1 {
    position: relative;
    font-family: Sofia;
    font-size: 3em;
    margin: auto;
}

#menu {
    height: 70px;
    text-align: center;
    margin: auto;
    margin-top: -5px;
}

li {
    display: inline;
    margin-left: 0%;
    /*Code used to display all the text in one line*/
}

#menu a {
    display: block;
    height: 30px;
    width: 200px;
    border-radius: 12px;
    background-color: red;
    border: 7px solid #B41818;
    box-shadow: 4px 4px 4px #999;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    color: white;
    /*https://www.codecademy.com/en/forum_questions/50c29d469bc1e14c8b001f64*/
}


}
#menu a:hover {
    background-color: #20CBD9;
}
#menu li {
    width: 242px;
    float: left;
    margin-bottom: inherit;
}
.profilepic {
    width: 450px;
    height: 450px;
    margin-top: 35px;
    margin-left: 35px;
}
.footer {
    padding: 1.2em;
    background: rgb(27, 83, 110);
    text-align: center;
}
@media (max-width:30em) {
    .top-wrap {
        display: flex;
        height: 450px;
    }

    header h1 {
        font-size: 1.94em;
        margin: auto;
    }

    li {
        display: block;
        margin-left: 65px;
    }

    .column-wrap { /*This code is to make the two columns go underneath each other*/
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        margin-top: 200px; /*I increased the margine size so the menu nav bar is visible*/
    }

    .right-column {
        width: 100%; /*This code is for when you make the screen smaller the right column size goes 100% to the screen size*/

    }

    .left-column {
        width: 100%; /*This code is for when you make the screen smaller the left column size goes 100% to the screen size*/
    }

    .profilepic { /*resized the picture to be able to fit into a smaller screen*/
        width: 90%;
        height: 90%;
        margin-left: -5px;
    }
}
@media (min-width:30em) {
    .column-wrap {
        display: flex;
        flex-direction: row-reverse;
        flex: 0 1 auto;
    }
}
